/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---- */
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-weight: bold;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
}

hr {
  width: 3.5rem;
  height: 0.3rem;
  margin-left: 0;
  margin-bottom: 1.3rem;
  border: none;
  background-color: #99E2D0;
}

a {
  text-decoration: none;
  color: inherit;
}

.card-shadow {
  box-shadow: 0 0.6rem 1.8rem rgba(203, 203, 203, 0.7);
}

.icon {
  position: relative;
}

/*--header--*/
.fa-arrow-left {
  font-size: 2rem;
}

/*--home--*/
.fa-utensil-spoon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FF79DA;
  font-size: 8rem;
  animation: spinner 3.5s ease-in-out 1 forwards;
}
@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg) scale(0.2);
  }
  40% {
    transform: translate(-50%, -50%) rotate(-980deg);
  }
  70% {
    transform: translate(-50%, -50%) rotate(-90deg) rotate(-45deg);
  }
  90% {
    transform: translate(-50%, -50%) rotate(-360deg) rotate(-135deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.4) rotate(-45deg);
  }
}

.fa-map-marker-alt {
  font-size: 1.5rem;
}

.fa-mobile-alt {
  font-size: 1.9rem;
  transform: scale(1.1, 1);
}

.fa-list-ul,
.fa-store {
  font-size: 1.4rem;
  transform: scale(1, 1.3);
}

.fa-heart {
  font-size: 2.5rem;
}

.empty-heart,
.solid-heart {
  position: absolute;
  top: -0.2rem;
  left: -2rem;
}

.solid-heart {
  opacity: 0;
  font-size: 2.8rem;
  /*top: -.2rem;*/
  left: -2.15rem;
}

.solid-heart:hover {
  opacity: 1;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*--menu--*/
.fa-check-circle {
  font-size: 2rem;
}

/*--footer--*/
.fa-hands-helping,
.fa-utensils {
  font-size: 1.3rem;
}

.novelty-alert {
  width: 8rem;
  height: 3rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #99E2D0;
  color: #217460;
}

.btn {
  width: 21.5rem;
  height: 5rem;
  border: none;
  border-radius: 2.5rem;
  box-shadow: 0 0.4rem 0.7rem 0.2rem #CBCBCB;
  font-size: 1.5rem;
  color: White;
  background: linear-gradient(#FF79DA, #9356DC);
}
.btn:hover {
  cursor: pointer;
  filter: brightness(105%);
  box-shadow: 0 0.4rem 0.6rem 0.2rem #a5a5a5;
}

.header {
  width: 100%;
  height: 6.3rem;
  box-shadow: 0 0.6rem 1.8rem rgba(203, 203, 203, 0.7);
  position: relative;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
}
.header__logo {
  width: 16rem;
  height: 3rem;
  margin: auto;
}
.header__icon {
  position: absolute;
  top: 2.2rem;
  left: 2rem;
}
@media (min-width: 768px) {
  .header__icon {
    left: 9rem;
  }
}
@media (min-width: 1024px) {
  .header__icon {
    left: 12rem;
  }
}
@media (min-width: 2560px) {
  .header__icon {
    left: 46rem;
  }
}

.main-image {
  width: 100%;
  height: 26rem;
  object-fit: cover;
}
@media (min-width: 768px) {
  .main-image {
    height: 40rem;
  }
}
@media (min-width: 1024px) {
  .main-image {
    height: 50rem;
  }
}
@media (min-width: 1440px) {
  .main-image {
    height: 70rem;
  }
}

.menu {
  width: 100%;
  border-radius: 4rem 4rem 0 0;
  position: relative;
  margin-top: -5rem;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
}
.menu__title {
  margin: 3.5rem 3.5rem 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: "Shrikhand", cursive;
}
.menu__list {
  margin: 0 1.5rem;
}
.menu__content {
  margin-top: 4rem;
  opacity: 0;
  animation: fadein 2s forwards;
}
.menu__sub-title {
  margin-left: 1rem;
}
.menu__sub-title h3 {
  font-size: 1.5rem;
  font-weight: 300;
}
.menu__card {
  opacity: 0;
  width: 100%;
  height: 7rem;
  margin-top: 1.3rem;
  display: flex;
  justify-content: space-between;
  border-radius: 1.5rem;
  box-shadow: 0 0.6rem 1.8rem rgba(203, 203, 203, 0.7);
  background-color: #FFFFFF;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu__card:nth-child(2) {
  animation: fadein 3s 0.5s forwards;
}
.menu__card:nth-child(3) {
  animation: fadein 3s 1s forwards;
}
.menu__card:nth-child(4) {
  animation: fadein 3s 1.5s forwards;
}
.menu__card:nth-child(5) {
  animation: fadein 3s 2s forwards;
}
.menu__card:hover {
  cursor: pointer;
}
.menu__card:hover .menu__d {
  width: 19.2rem;
}
.menu__card:hover > .menu__choice {
  opacity: 1;
  width: 8rem;
  transition: width 1s;
}
.menu__card:hover > .menu__choice .fa-check-circle {
  transition: transform 0.8s;
  transform: translate(-50%, -50%) rotate(1080deg);
}
.menu__description {
  width: 100%;
  border-radius: 1.5rem;
  padding: 1.5rem 1rem;
  background-color: #FFFFFF;
}
.menu__card-title {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.menu__card-text {
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.menu__d {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__price {
  font-weight: bold;
  margin-right: 2rem;
}
.menu__choice {
  width: 0;
  opacity: 0;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  border-radius: 0 1.5rem 1.5rem 0;
  background-color: #99E2D0;
}
.menu__choice .fa-check-circle {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu__btn {
  margin: 5rem auto 8.5rem;
}
@media (min-width: 768px) {
  .menu__title {
    margin-left: 9rem;
    margin-right: 9rem;
  }
  .menu__list {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}
@media (min-width: 1024px) {
  .menu {
    width: 80%;
    margin: -15rem auto 0;
  }
  .menu__title {
    margin-left: 12rem;
    margin-right: 12rem;
  }
  .menu__list {
    margin-left: 11rem;
    margin-right: 11rem;
  }
}
@media (min-width: 1440px) {
  .menu {
    width: 80%;
    margin: -25rem auto 0;
  }
  .menu__title {
    width: 27%;
    margin: 5rem auto 0;
  }
  .menu__list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu__content {
    width: 40rem;
    margin-top: 6rem;
  }
  .menu__content:nth-child(3) {
    margin: 6rem auto 0;
  }
  .menu__card {
    margin-top: 2.3rem;
  }
  .menu__card:hover .menu__d {
    width: 25rem;
  }
}
@media (min-width: 2560px) {
  .menu__title {
    width: 15%;
  }
  .menu__content:nth-child(3) {
    margin: 6rem 0 0;
  }
}

.footer {
  width: 100%;
  height: 19.5rem;
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
}
.footer__container {
  padding: 2.5rem 2rem;
}
.footer__logo {
  width: 10rem;
  margin-bottom: 1rem;
}
.footer__logo path {
  fill: white;
}
.footer__link {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.footer__text {
  font-size: 1.4rem;
  font-weight: 500;
}
.footer__icon {
  width: 1rem;
  margin-right: 1.6rem;
}
@media (min-width: 425px) {
  .footer__container {
    text-align: center;
  }
  .footer__logo {
    margin: 0 auto 2rem;
  }
  .footer__link {
    margin-bottom: 1.2rem;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .footer__container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__logo, .footer__link {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .footer__container {
    width: 70%;
  }
}

.loading-spinner {
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9356DC;
  animation: fadeout 0.6s ease-in-out 4s forwards;
}
@keyframes fadeout {
  to {
    opacity: 0;
  }
}
.loading-spinner__square {
  width: 20rem;
  height: 20rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.presentation {
  width: 100%;
  height: 29rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}
.presentation__content {
  width: 31rem;
  height: 10rem;
  margin-bottom: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.presentation__title {
  font-size: 2.5rem;
}
.presentation__text {
  font-size: 1.7rem;
}
.presentation__btn {
  background: linear-gradient(#FF79DA, #9356DC);
}

.localisation {
  width: 100%;
  height: 4.5rem;
  margin-top: 0.3rem;
  background-color: #E9EAE9;
}
.localisation__content {
  width: 16rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.localisation__search-field {
  width: 13rem;
  margin-left: 2rem;
  border: none;
  background: none;
  font-size: 1.5rem;
  font-weight: 400;
}
.localisation__search-field:focus {
  outline: none;
}

.restaurants-list {
  width: 100%;
  height: auto;
  background-color: #E9EAE9;
}
.restaurants-list__container {
  padding: 5rem 2rem;
}
.restaurants-list__cards-container {
  height: 106rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.restaurants-list__card {
  width: 33.5rem;
  height: 25rem;
  border-radius: 2rem;
  background-color: #FFFFFF;
}
.restaurants-list__img-container {
  position: relative;
}
.restaurants-list__img {
  width: 100%;
  height: 17rem;
  border-radius: 2rem 2rem 0 0;
  object-fit: cover;
}
.restaurants-list__description {
  padding: 1.5rem 2.5rem 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
}
.restaurants-list__text {
  font-weight: 300;
}
.restaurants-list__card-title {
  font-size: 1.7rem;
}
.restaurants-list__card-text {
  font-size: 1.6rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .restaurants-list__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurants-list__cards-container {
    width: 72.8rem;
    height: 58rem;
    margin: 3rem auto 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1400px) {
  .restaurants-list__cards-container {
    width: 100%;
    height: auto;
  }
}

.operation {
  width: 100%;
  height: auto;
}
.operation__container {
  padding: 5rem 2rem;
}
.operation__cards-container {
  height: 27rem;
  margin-top: 3rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.operation__card {
  height: 7rem;
  margin-left: 0.2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
}
.operation__card:hover {
  background-color: #f2eafb;
  color: #9356DC;
}
.operation__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}
.operation__number {
  width: 2.2rem;
  height: 2.2rem;
  margin-left: -1rem;
  border-radius: 2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  background-color: #9356DC;
}
.operation__icon {
  width: 1.5rem;
  margin-left: 3.5rem;
  display: flex;
  justify-content: center;
}
.operation__text {
  margin-left: 2.5rem;
  color: black !important;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .operation__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .operation__title {
    margin-bottom: 3rem;
  }
  .operation__cards-container {
    width: 96rem;
    height: auto;
    margin: 0;
    flex-direction: row;
  }
  .operation__card {
    width: 28rem;
  }
}
