@import "../utils/variables.scss";

.btn {
    width: 21.5rem;
    height: 5rem;
    border: none;
    border-radius: 2.5rem;
    box-shadow: 0 .4rem .7rem .2rem #CBCBCB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: White;
    background: linear-gradient(-10deg, $color-primary, $color-secondary);

    &:hover {
        cursor: pointer;
        filter: brightness(110%);
        box-shadow: 0 .4rem .6rem .2rem darken(#CBCBCB, 15%);
    }
}
