@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.menu-header-image {
    width: 100%;
    height: 26rem;
    object-fit: cover;

    @include tablet-portrait {
        height: 40rem;
    }

    @include tablet-landscape {
        height: 50rem;
    }

    @include desktop {
        height: 70rem;
    }
}

.menu {
    width: 100%;
    border-radius: 4rem 4rem 0 0;
    position: relative;
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    background-color: $primary-background;

    @include tablet-landscape {
        width: 80%;
        margin: -15rem auto 0;
    }

    @include desktop {
        width: 80%;
        margin: -25rem auto 0;
    }

    &__restaurant-name {
        margin: 3.5rem 3.5rem 0 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $primary-font;

        @include tablet-portrait {
            margin-left: 9rem;
            margin-right: 9rem;
        }

        @include tablet-landscape {
            margin-left: 12rem;
            margin-right: 12rem;
        }

        @include desktop {
            width: 27%;
            margin: 5rem auto 0;
        }

        @include tv {
            width: 15%;
        }
    }

    &__icon {
        width: 2.5rem;
        height: 2.4rem;
        margin-top: -.3rem;
        display: flex;
        flex-direction: column;
        @include like-icon-hover;
    }

    &__list {
        margin: 0 1.5rem;

        @include tablet-portrait {
            margin-left: 8rem;
            margin-right: 8rem;
        }

        @include tablet-landscape {
            margin-left: 11rem;
            margin-right: 11rem;
        }

        @include desktop {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__content {
        margin-top: 4rem;
        opacity: 0;
        animation: fadein 2s forwards;

        @include desktop {
            width: 40rem;
            margin-top: 6rem;

            &:nth-child(3) {
                margin: 6rem auto 0;
            }
        }

        @include tv {
            &:nth-child(3) {
                margin: 6rem 0 0;
            }
        }
    }

    &__heading-container {
        margin-left: 1rem;
    }

    &__heading {
        font-size: 1.5rem;
        font-weight: 300;
    }

    &__card {
        opacity: 0;
        width: 100%;
        margin-top: 1.3rem;
        display: flex;
        justify-content: space-between;

        @keyframes fadein {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @include menuFadeIn;

        &:hover {
            cursor: pointer;
        }

        &:hover .menu__card-text {
            width: 18rem;
        }

        &:hover > .menu__card-check-mark {
            opacity: 1;
            width: 8rem;
            transition: width 1s;

            .fa-check-circle {
                transition: transform 1s .2s;
                transform: translate(-50%, -50%) rotate(1440deg);
            }
        }

        @include tablet-portrait {
            &:hover .menu__card-text {
                width: 30rem;
            }
        }

        @include desktop {
            margin-top: 2.3rem;

            &:hover .menu__card-text {
                width: 25rem;
            }
        }
    }

    &__card-description {
        width: 100%;
        border-radius: 1.5rem;
        padding: 1.5rem 1rem;
    }

    &__card-title {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }

    &__card-text-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    &__card-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__card-price {
        font-weight: bold;
        margin-right: 2rem;
        margin-left: 1rem;

        @include tablet-portrait {
            margin-left: 2rem;
        }
    }

    &__card-check-mark {
        width: 0;
        opacity: 0;
        height: 100%;
        position: relative;
        top: 0;
        right: 0;
        border-radius: 0 1.5rem 1.5rem 0;
        background-color: $color-tertiary;

        .fa-check-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            color: #fff;
        }
    }

    &__btn {
        margin: 5rem auto 8.5rem;
    }
}
