@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.operation {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 200;

    &__container {
        padding: 5rem 2rem;

        @include tablet-landscape {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        font-size: 2.5rem;

        @include tablet-landscape {
            margin-bottom: 3rem;
        }
    }

    &__cards-container {
        height: 27rem;
        margin-top: 3rem;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet-landscape {
            width: 96rem;
            height: auto;
            margin: 0;
            flex-direction: row;
        }
    }

    &__card {
        margin-left: .2rem;
        display: flex;
        align-items: center;
        background-color: $primary-background;

        .fa-mobile-alt {
            font-size: 1.9rem;
            transform: scale(1.1, 1);
        }

        .fa-list-ul,
        .fa-store {
            font-size: 1.4rem;
            transform: scale(1, 1.3);
        }

        &:focus {
            background-color: lighten($color-primary, 35%);
            color: $color-primary;
        }

        @include tablet-landscape {
            width: 28rem;
        }
    }

    &__option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
    }

    &__number {
        width: 2.2rem;
        height: 2.2rem;
        margin-left: -1rem;
        border-radius: 2rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color: white;
        background-color: $color-primary;
    }

    &__icon {
        width: 1.5rem;
        margin-left: 3.5rem;
        display: flex;
        justify-content: center;
    }

    &__text {
        margin-left: 2.5rem;
        color: black !important;
        font-weight: 500;
    }
}
