$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$primary-background:#F6F6F6;
$secondary-background:#FFFFFF;
$tertiary-background:#E9EAE9;
$footer-background:#353535;

$main-shadow: 0 .6rem 1.8rem rgba(203, 203, 203, 0.7);
