$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$box-shadow:0 1rem .8rem black;

$primary-background:#F6F6F6;
$secondary-background:#FFF;
$tertiary-background:#353535;
$quaternary-background:#E9EAE9;

/*$first-gradient:;
$second-gradient:;*/
